*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
header{
    min-width: 300px;
    min-height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.header__tatano-dev{
    max-height: 90px;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header__box-h2{
    background-color: black;
    width: 10%;
    font-family: 'Silkscreen', cursive;
    font-size: 2rem;
    color: white;
    margin-top: 2px;
    text-align: center;
    margin-left: 20px;
}
.header__box-h2:hover{
    letter-spacing: 5px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    cursor: pointer;
}
.header__box-img{
    width:  86px;
    height: 85px;
    margin-right: 10px;
    margin-top: 10px;
}
.header__box-img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.header__box-img img{
    width: 100%;
    height: 100%;
}
aside{
    height: 30px;
    background-color: #cfba44 ;
    width: 100%;
}
.menu__ul{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 7px;
    list-style: none;
    font-size: 1.3rem;
}
.menu__ul a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu__ul a:visited{
    color: #fff;
}
.menu__ul a:hover{
    border-bottom: 2px solid #164475;
    letter-spacing: 1px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.titulo{
    font-family: 'Anton', sans-serif;
    color: #fff;
    background-color: #164475 ;
    padding-top: 10px;
} 
h1{
    min-width: 300px;
    text-align: center;
    text-transform: uppercase;
    font-size: 6rem;
    margin: 0;
    letter-spacing: 7px;
    font-weight: bold;
}
.contenedor-principal{
    min-width: 300px;
    min-height: 300px;
    background-image: linear-gradient(to top, #BFB373 20%, #164475 80%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    padding-top: 20px;
}
.dt{
    width: 100%;
    height: 100%;
    margin:1px auto;
}
.arquero{
    width: 100%;
    height: 100%;
    margin: 1px auto;
}
.defensa{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}
.mediocampo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}
.delantera{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}
.card{
    width: 200px;
    height: 327px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, #BFB373 20%, #164475 80%);
    overflow: hidden;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    border: 1px solid black;
    -webkit-box-shadow: -1px 0px 22px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 22px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 22px 11px rgba(0,0,0,0.75);
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-img{
    width: 200px;
    height: 256px;
    position: relative;
}
.box-player{
    width: 140px;
    height: 256px;
    position: absolute;
}
.box-player img{
    width: 90%;
    height: 90%;
    position: absolute;
    left: 35px;
    top: 15px;
}
.transform-scale:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.box-logo{
    width: 60px;
    height: 256px;
    float: right;
    display: absolute;
}
.box-logo img{
    width: 90%;
    height: 30%;
    padding-top: 13px;
}
.box-club img{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 5px;
    top: 20px;
}
.box-club img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.nombre{
    width: 200px;
    height: 77px;
    background-color:black;
    color: azure;
    position: relative;
    padding-top: 17px;
}
.nombre h3{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.7rem;
    max-height: 30px;
}
.nombre p{
    font-size: 1.5rem;
    padding-top: 0;
    margin-left: 20px;
    

   
}
.text-center{
    text-align: center;
    margin-left: 10px;
}
.gio{
    padding-left: 15px;
}
